CREATE DATABASE [ItemDB]
 CONTAINMENT = NONE
ALTER DATABASE [ItemDB] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ItemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ItemDB]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 07/12/2020 5:06:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[itemCode] [varchar](50) NOT NULL,
	[itemName] [varchar](50) NULL,
	[unit] [varchar](50) NULL,
	[price] [int] NULL,
	[supplying] [bit] NULL,
	[supCode] [varchar](50) NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[itemCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 07/12/2020 5:06:09 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupCode] [varchar](50) NOT NULL,
	[SupName] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[colloborating] [bit] NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[SupCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Items] ([itemCode], [itemName], [unit], [price], [supplying], [supCode]) VALUES (N'ASAP', N'Laptop', N'bcde', 20000, 0, N'AB')
INSERT [dbo].[Items] ([itemCode], [itemName], [unit], [price], [supplying], [supCode]) VALUES (N'IDK', N'Chair', N'uikio', 50000, 1, N'AB')
INSERT [dbo].[Items] ([itemCode], [itemName], [unit], [price], [supplying], [supCode]) VALUES (N'OMG', N'Pen', N'abcd', 30000, 1, N'FPT')
GO
INSERT [dbo].[Suppliers] ([SupCode], [SupName], [Address], [colloborating]) VALUES (N'AB', N'Additional Bitcoin', N'Virtual Internet', 1)
INSERT [dbo].[Suppliers] ([SupCode], [SupName], [Address], [colloborating]) VALUES (N'FPT', N' Food Processing Technology', N'Distric 9 ', 1)
INSERT [dbo].[Suppliers] ([SupCode], [SupName], [Address], [colloborating]) VALUES (N'HZ', N'Horizon Zoe', N'Imagination', 0)
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Suppliers] FOREIGN KEY([supCode])
REFERENCES [dbo].[Suppliers] ([SupCode])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Suppliers]
GO
USE [master]
GO
